version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    assignees:
      - sergeii
    commit-message:
      prefix: chore
    groups:
      actions:
        applies-to: version-updates
        dependency-type: production
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
    assignees:
      - sergeii
    commit-message:
      prefix: feat
    groups:
      dependencies:
        applies-to: version-updates
        dependency-type: production
        update-types:
          - minor
          - patch
      dev-dependencies:
        applies-to: version-updates
        dependency-type: development
